<small>
	<nav class="navbar py-0 my-0 navbar-expand-lg navbar-dark bg-dark d-none d-lg-block">
		<div id="navbarSupportedContent" class="font-weight-bold">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">					
					<a class="nav-link" href="#">
						<i class="fa fa-map-marker-alt mr-auto text-warning"></i>
						<span class="ml-2 text-warning">Enter Nearest Palengke</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa fa-info-circle mr-auto text-success"></i>
						<span class="ml-2">About Bayong</span>
					</a>
				</li>
				<!-- <li class="nav-item dropdown ml-auto">
					<a class="nav-link dropdown-toggle"
					href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
				  Be a Seller
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
						<div class="input-group mb-3 px-3">
							<input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username" aria-describedby="basic-addon2">
						</div>
					</div>
				</li> -->
				<li class="nav-item ml-auto">
					<a class="nav-link"	href="#">
						<i class="fa fa-donate mr-auto text-success"></i>
						<span class="ml-2">Be a Seller</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"	href="#">
						<i class="fa fa-truck mr-auto text-success"></i>
						<span class="ml-2">Track Your Order</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"	href="#">
						<i class="fa fa-user-circle mr-auto text-success"></i>
						<span class="ml-2">My Account</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<small>
	<div class="container-fluid bg-dark font-weight-bold nav justify-content-center m-0 p-0 d-lg-none" style="font-size: .7em!important;">
		<li class="nav-item">
			<a href="" class="nav-link">
				<i class="fa fa-map-marker-alt text-warning"></i>
				<span class="ml-1 text-warning">Enter Nearest Palengke</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="" class="nav-link">
				<i class="fa fa-map-marker-alt text-success"></i>
				<span class="ml-1 text-muted">About Bayong</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="" class="nav-link">
				<i class="fa fa-map-marker-alt text-success"></i>
				<span class="ml-1 text-muted">Be A Seller</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="" class="nav-link">
				<i class="fa fa-map-marker-alt text-success"></i>
				<span class="ml-1 text-muted">Track Your Order</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="" class="nav-link">
				<i class="fa fa-map-marker-alt text-success"></i>
				<span class="ml-1 text-muted">My Account</span>
			</a>
		</li>
	</div>
	</small>
</small>